body {
    margin: 0;
    font-family: 'Segoe UI';
    display: flex;
    background: #f4f6f9;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #b30000;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: rgba(255,255,255,0.2);
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 30px;
    height: 30px;
}

.main {
    flex: 1;
    padding: 20px;
}

.header {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input {
    display: block;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: red;
    color: white;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

#mk-container div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

#mk-container label {
    width: 200px;
    font-weight: 500;
}

#mk-container input {
    width: 120px;
}